body{
    margin: 0;
    padding: 0;
    
}


.primer-container{
    background-image: url("https://i.ibb.co/f4TTyfM/portada3.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;

}

.linkes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.link{
    color: rgb(241, 190, 218);
    text-decoration: none;
    margin-right: 15px;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    color: rgb(241, 190, 218);
    
}

.foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-sizing: border-box;
}

.segundo-container{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(35, 36, 58);
    justify-content: center;
    align-items: center;
}

.contenedor-foto2{
    height: 60%;
    width: 25%;
    margin-right: 20px;

}

.contenedor-perfil2{
    height: 60%;
    width: 50%;
    color: white;
   
}

.foto-2{
    width: 100%;
    height: 100%;
}

p{
    text-align: justify;
}