

@import url ('https://fonts.googleapis.com/css2? family = Baloo + 2: wght @ 600 & display = swap'); 

body{
    margin: 0;
    padding: 0;
    
}

.container{
    background-image: url("https://i.ibb.co/f4TTyfM/portada3.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Comic Neue', cursive;
}


.linkes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.link{
    color: rgb(247, 181, 206);
    text-decoration: none;
    margin-right: 40px;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    color:rgb(247, 181, 206);
    
}
h1 {
font-family: 'Comic Neue', cursive;
}

.foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-sizing: border-box;
}


